@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.about-outer-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image:
            linear-gradient(rgba(88, 185, 50, 0.5), rgba(252, 24, 24, 0.5)),
            url('../../assets/woman-with-camera-taking-picture-reflection.jpg');
    background-size: cover;
    background-position: center;
    height: 91vh;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.about-inner-container {
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-basis: 1800px;
}

.about-header {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    align-content: center;
    align-items: center;
    margin: 20px;
}

.about-header-inner {
    background-color: rgba(38, 72, 208, 0.37);
    border-radius: 20px;
    padding: 30px;
    color: blanchedalmond;

}

.text-block b {
    color: #f49460;
}
.about-header-inner ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about-header h1 {
    text-align: center;
}


.text-block, .empty-block {
    width: 48%;

}

.text-block {
   background-color: rgba(38, 72, 208, 0.37);
    border-radius: 10px;
    padding: 20px;
    max-width: 525px;
    margin: 10px;
    font-size: 1.2em;
    color: blanchedalmond;
}

.empty-block {
    width: 10%;
}

.about-text-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 2s ease-in-out;
}

.text-block {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s ease-in-out;
}

.text-block.animate {
    opacity: 1;
    transform: translateX(0);
}

.about-header.animate {
    opacity: 1;
    transform: translateY(0);
}

.about-header {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 2s ease-in-out;
}


@media (max-width: 800px) {
    .about-header {
        text-align: center;
    }

    .about-outer-container {
        flex-direction: column;
        height: auto;
    }


    .about-inner-container {


        @media (max-width: 600px) {
            flex-basis: auto;
            padding: 10px;
            margin-top: 50px;
        }
    }

    .about-text-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-block, .empty-block {
        width: 100%;
    }
}



