.parent-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-color: rgba(252, 252, 252, 0.88);
}

.form-wrapper {
    background: rgba(239, 238, 238, 1);
    border-radius: 10px;
    min-width: 400px;
    flex-basis: 1000px;
    padding:20px;

}



.form {
    display: flex;
    margin:30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
    color: black;
}

.input-label {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    justify-items: flex-start;
    align-items: center;
}

textarea, .input input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea {
    height: 75px;
}

.input-label input {
    margin: 0px;
}

.select-input{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.photo-upload {
    width:250px;
}

.input-icon-wrapper .faEnvelope {
    margin-right: 0px;
}

.input-icon-wrapper svg {
    width: 25px;
    height: 25px;
}

.input-label select {
    display: block;
}

.input-label p {
    grid-column-start: 2;
}

.input-label svg {
    display: block;
    margin-right: 10px;
}

.svg-inline {
    width: 20px; height: 20px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 50%;
    max-width: 500px;
}

.modalButton {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    font-weight: bold;
    font-family: "72";
    color:sandybrown;
    border: none;
    width: 10px;
    height: 20px;
    justify-content: center;
    align-items: center;
    Display: flex;
}

.modalButton button::before, .modalButton button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 2px 2px 2px 2px rgba(143, 143, 143, 0.1);
}

.modalButton button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modalButton button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.isLoggedInCheck {
    text-align: center;
    background-color: rgba(243, 125, 66, 0.7);
    font-weight: bold;
    border-radius: 10px;

}


@media (max-width: 768px) {
    .parent-form-wrapper {
        height: auto;

    }

    .form-wrapper {
        width: 100%;
        min-width: 400px;
        margin-top: 20px;
    }

    .form {
        padding: 5px;
        margin: 5px;
        gap:10px;


    }

    .input-label {
        grid-template-columns: 0.2fr 1.8fr;
        width: 100%;
    }

    .select-input, .photo-upload {
        width: 100%;
    }

    .modal-content {
        width: 90%;
    }
}
