.photo-card-inner-container {
  display: flex;
  flex-basis: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #007BFF;
  padding: 20px;
}


.photo-card-contact {
  background: none;
  display: flex;
  flex-basis: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  height: 950px;
}

.photo-card-image-container {
  position: relative;
}

.photo-card-image {
  width: 300px;
  height: 400px;
  border: 7px solid #000000;
  object-fit: cover;
}

.photo-card-info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-card-info b {
  text-align: center;
}

@media (max-width: 1000px) or (max-height: 900px) {
  .photo-card-contact {
    background: none;
    display: none;
  }
}


@media(max-height: 1000px) {
  .photo-card-contact {
    flex-basis: 300px;
    height: 800px;
    opacity: 40%;
  }
}

