.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    gap: 20px; ;
}

.error-feedback {
        background-color: rgba(253, 16, 16, 0.32);
    color: red;
}